.Icon {
    rotate: -90deg;
    width: 24px;
    height: 24px;

    &:hover {
        scale: 1.4;
    }
}

.taskName {
    display: flex;
}

.opened {
    &.Icon {
        rotate: 0deg;
    }
}

.AdditionalTask {
    padding-left: 20px;
}
